* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


nav li, .logo-box, .logo-img, .logo-text, .phone, .button,
.chair-box, .chair-button,
.card-box, .card-button, .bonus-card, .bonus-card-info, .bonus-card-img,
.map-shop-info, .map-shop-img, .map-shop-button,
.impuls-block, .impuls-img,
.category-box, .social-box, .social-box li, .social-icon, .law {
    float: left;
}

.phone-button-box, .confidentiality-box a {
    float: right;
}

nav ul::after, .container-box::after, .item-block::after,
.info-card::after, .impuls-box::after {
    content: "";
    clear: both;
    display: block;
}

a {
    text-decoration: none;
}

nav, a, p, button {
    font-size: 14px;
    font-weight: 400;
}

h1, h2, h3 {
    font-weight: 700;
}

.container-box {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.top-nav {
    background-color: #E5E5E5;
}

.container-top-box-center {
    width: 445px;
}

nav li:last-child {
    margin-right: 0;
}

nav a:hover {
    color: rgba(241, 60, 110, 1);
}

.nav-item-top li {
    margin: 17px 30px 16px 0;
}

.nav-item-top a {
    color: rgba(51, 51, 51, 1);
}

.top-box {
    padding: 20px 0;
    border-bottom: rgba(239, 239, 239, 1) 1px solid;
}

.logo-img {
    background-image: url(./images/main-logo.png);
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.logo-text {
    margin-top: 23px;
    text-transform: uppercase;
    color: rgba(241, 60, 110, 1);
    font-size: 36px;
    letter-spacing: 0.1em;
}

.phone {
    margin: 32px 40px 0 0;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
}

.button {
    margin-top: 19px;
    width: 170px;
    height: 40px;
    background: #ffffff;
    border: 2px solid rgba(241, 60, 110, 1);
    border-radius: 40px;
    cursor: pointer;
}

.button:hover {
    color: #ffffff;
    background: rgba(241, 60, 110, 1);
}

.container-bottom-box-center {
    width: 675px;
}

.nav-item-bottom li {
    margin: 30px 40px 30px 0;
}

.nav-item-bottom a {
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
}

.image-box {
    height: 604px;
    background-image: url(./images/banner.png);
}

.chair-box {
    color: #ffffff;
    width: 308px;
    margin-top: 192px;
}

.chair-title {
    font-size: 48px;
    margin-bottom: 50px;
}

.chair-text {
    line-height: 20px;
    margin-bottom: 50px;
}

.chair-button {
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    padding: 12px 27px 13px;
    color: #ffffff;
    text-transform: uppercase;
}

.chair-button:hover {
    background: #ffffff;
    color: #F13C6E;
}

main {
    padding: 80px 0;
    background-color: rgba(239, 239, 239, 1);
}

.item-block>h2 {
    width: 1110px;
    margin-bottom: 38px;
    font-size: 24px;
}

.card-box {
    background-color: #ffffff;
    width: 255px;
    text-align: center;
    padding: 25px 0;
    margin-right: 30px;
}

.card-box:last-child {
    margin-right: 0;
}

.card-img {
    width: 125px;
    height: 166px;
    background-image: url(./images/chair.png);
    margin: 0 65px 20px;
}

.card-box p {
    margin: 0 30px 20px;
}

.card-price {
    margin: 0 88px 20px;
    font-weight: 500;
    font-size: 21px;
}

.card-button {
    margin: 0 63px 0;
    padding: 9px 40px;
    background: #F13C6E;
    color: #FFFFFF;
    border-radius: 30px;
}

.info-card {
    margin: 100px 0;
}

.bonus-card {
    width: 540px;
    background-color: rgba(241, 60, 110, 1);
    margin-right: 30px;
    padding: 35px 45px 35px 40px;
    color: #FFFFFF;
}

.bonus-card-info {
    width: 250px;
    margin-right: 65px;
}

.bonus-card-info>h3 {
    font-size: 18px;
    margin-bottom: 25px;
}

.bonus-card-info>p {
    line-height: 20px;
    margin-right: 10px;
    margin-bottom: 25px;
}

.bonus-card-input {
    border-radius: 30px;
    width: 225px;
    height: 36px;
    border: 0;
    padding: 9px 0 9px 25px;
}

input::placeholder {
    color: rgba(196, 196, 196, 1);
}

.bonus-card-img {
    background-image: url(./images/group.png);
    width: 140px;
    height: 108px;
    margin-top: 18px;
}

.bonus-card:last-child {
    margin-right: 0;
}

.map-shop-info {
    width: 175px;
    margin-right: 90px;
}

.map-shop-info>h3 {
    font-size: 18px;
    margin-bottom: 25px;
}

.map-shop-info>p {
    line-height: 20px;
    margin-right: 34px;
    margin-bottom: 25px;
}

.map-shop-button {
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding: 9px 29px;
    color: #ffffff;
}

.map-shop-button:hover {
    background: #ffffff;
    color: #F13C6E;
}

.map-shop-img {
    background-image: url(./images/car.png);
    width: 189px;
    height: 100px;
    margin-top: 21px;
}

.impuls-box {
    margin-bottom: 80px;
}

.impuls-block {
    background-color: #FFFFFF;
    margin: 1px;
}

.impuls-block:nth-child(4n+1) {
    margin-left: 0;
}

.impuls-block:nth-child(4n+4) {
    margin-right: 0;
}

.impuls-block:nth-child(n+1) {
    margin-top: 0;
}

.impuls-block:nth-child(n+9) {
    margin-bottom: 0;
}

.impuls-img {
    background-image: url(./images/impuls.png);
    width: 149px;
    height: 49px;
    margin: 35px 68px 35px 59px;
}

.footer-top-box {
    padding: 60px 0;
    border-bottom: rgba(239, 239, 239, 1) 1px solid;
}

.category-box {
    width: 255px;
    margin-right: 30px;
}

.category-box:last-child {
    margin-right: 0;
}

.category-box>h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    padding-bottom: 30px;
    margin: 0 156px 30px 0;
    border-bottom: rgba(239, 239, 239, 1) 1px solid;
}

.category-list li {
    float: none;
    margin-bottom: 15px;
}

.category-list li:last-child {
    margin-bottom: 0;
}

.category-list a {
    color: rgba(130, 130, 130, 1);
    font-size: 12px;
}

.footer-bottom-box {
    padding: 20px 0 40px 0;
}

.social-box {
    margin-top: 17px;
}

.social-box li {
    margin-right: 20px;
}

.social-box li:last-child {
    margin-right: 0;
}

.social-icon {
    width: 45px;
    height: 45px;
}

.yt {
    background-image: url(./images/youtube-logo.png);
}

.vk {
    background-image: url(./images/vk-logo.png);
}

.fb {
    background-image: url(./images/fb-logo.png);
}

.insta {
    background-image: url(./images/instagram-logo.png);
}

.confidentiality-box {
    background-color: rgba(239, 239, 239, 1);
    padding: 25px 0;
}

.con-class {
    color: rgba(130, 130, 130, 1);
    font-size: 12px;
}